* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--green);
}

:root {
    --red: #830202;
    --purple: #6110cc;
    --white: #ffffff;
    --black: #000000;
    --green: #2c6e48;
    --light-green: #619444;
    --gold: rgb(159, 122, 0);
    --brick-ember: #C21914;
    --evergreen: #1E2407;
    --golden-apricot: #D39242;
    --pitch-black: #130900;
    --rich-mahogany: #3C1905;
}

/* Navigation Menu*/
.nav-menu {
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-header {
    background: linear-gradient(180deg, var(--brick-ember) 0%, #5d0c09 100% );
    padding: 3rem;
    
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu {
    margin:0 15px;
}

.nav-menu a {
    background-color: var(--golden-apricot);
    padding: 1rem;
    border-radius: 1rem;
    transition: background-color 0.5s ease;
}

.nav-menu a:hover {
    background-color: #915e1f;
}

.nav-menu li {
    font-size: 20px;
}

/* Hero Section */

header {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}


.hero-image {
    position: relative;
    width: 100%;
    min-height: 300px;
    margin-bottom: 1rem;
    overflow: hidden;
}  

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 2;
    width: 90%;
    max-width: 800px;
}

.hero-content h1 {
    font-size: 4rem;
}



/* Main Section */

img {
    width: 500px;
}

.mainSection {
    display: grid;
    grid-template-columns: 1fr;

}

.mainSection {
    border: transparent;
    background-color: var(--light-green);
    padding: 10rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-radius: 1rem;
    color: var(--black);
    box-shadow: rgba(0, 0, 0, 0.7);
}

.card {
    border: solid 4px black;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.7);
    object-fit: center;
    overflow: hidden;
    background-color: #75b152;
    font-size: 1.4rem;
}

.card img {
    width: 100%;
    object-fit: contain;
    max-height: 250px;
}

.btn {
    display: inline-block;
    font-size: 1rem;
    padding: 5px 10px;
    border-style: none;
    border-radius: 14px;
}




/* Footer Design */

.footer {
    background-color: var(--white);
    padding: 3rem 0;
    margin-top: 2rem;
}

.footer-grid {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.footer {
    text-align: center;
}



.footerNav a {
    color: var(--black);
}

.footerNav a:hover {
    text-decoration: underline;
}





/*==============Screen Layout Styles Section=============== */


/* TABLET (768px and up)*/
@media screen and (min-width: 768px) {
    
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    }
    
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    
}

/* DESKTOP (1024px and up) */
@media screen and (min-width: 1024px) {
    
    .cards-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .footer-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    }

    .hero-content h2
     {
        font-size: 4rem;
    }

    .hero-content  h1{
        font-size: 4rem;
    }
}