* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--green);
}

:root {
    --red: #830202;
    --purple: #6110cc;
    --white: #ffffff;
    --green: #2c6e48;
    --gold: rgb(159, 122, 0);
}

/* Navigation Menu*/
.nav-menu {
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-header {
    background: linear-gradient(180deg, #e99f00 0%, #714e00 100% );
    padding: 3rem;
    
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    margin:0 15px;
}

.nav-menu a {
    background-color: #676767;
    padding: 1rem;
    border-radius: 1rem;
    transition: background-color 0.5s ease;
}

.nav-menu a:hover {
    background-color: #272727;
}

.nav-menu li {
    font-size: 20px;
}

/* Hero Section */

header {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}


.hero-image {
    position: relative;
    width: 100%;
    min-height: 300px;
    margin-bottom: 1rem;
    overflow: hidden;
}  

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 2;
    width: 90%;
    max-width: 800px;
}

.hero-content h2 {
    font-size: 4rem;
}

/* Main Section */


.cards-section {
    padding: 4rem 0;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

/* Cards Section */

.cards-section {
    padding: 4rem;
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.card {
    border: solid 4px black;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.7);
    object-fit: center;
    overflow: hidden;
    background-color: #75b152;
}

.card-image-container {
    width: 100%;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    object-fit: cover;
    max-height: 250px;
}



/*==============Screen Layout Styles Section=============== */


/* TABLET (768px and up)*/
@media screen and (min-width: 768px) {
    
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    }
    
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    
}

/* DESKTOP (1024px and up) */
@media screen and (min-width: 1024px) {
    
    .cards-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .footer-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    }

    .hero-content h2
     {
        font-size: 4rem;
    }

    .hero-content  h1{
        font-size: 1.5rem;
    }
}